.header {
    display: flex;
    justify-content: center;
}
.portfolio-name {
    display: inline-block;
    font-family: 'Poiret One', cursive;
    color: #a39fa085;
    font-weight: 600;
    font-size: 100px;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    color: #7d7879;
    font-size: 25px;
    padding: 0px;
}
.menu-item {
    margin: 0px 10px;
}
.model-name{
    display: flex;
    align-items: center;
    height: 200px;
}